.funact {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 228, 228);
  }
  .container{
  
    text-align: center;

  }
  .h3{
    text-align: center;
    margin-top: 20px;
    color: rgb(170, 66, 66);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 .items{
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
.item{
    width: 20%;
    min-width: 300px;
    padding: 10px 12px;
    border: 5px solid rgb(62, 173, 86);
    border-radius: 25px;
    height: 400px;
    cursor: pointer;
    position: relative;
    margin: 20px 0;
}

.span{
    font-size: 20px;
    color: rgb(23, 116, 46);
}
.h5{
    color: rgb(20, 197, 49);
    font-size: 10px;
}
.coast{
    color: rgb(216, 73, 73);
    font-size: 20px;
}
.textbox{
    background-color:transparent;
    position:absolute;
    right: 0;
    bottom: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: 6%;
    
}
.text{
  text-align: start;
  margin-left: 10px;
}

.item:nth-child(1) {
    background: url("https://media.istockphoto.com/id/1334114308/vector/christmas-ball-with-snowflakes-and-red-bow.jpg?s=612x612&w=0&k=20&c=i0yHwpCqH6lvZM3ihAcBQvNCeEOYTv8RccAtlg9yqSQ=");
    background-size: cover;
  }
  .item:nth-child(2) {
    background: url("https://media.istockphoto.com/id/1183032469/photo/golden-christmas-ball.jpg?s=612x612&w=0&k=20&c=7XMubmgTa7-TlPogD52RY64A2Q9ZnhyCNfaLASUakFw=");
    background-size: cover;
  }
  .item:nth-child(3) {
    background: url("https://media.istockphoto.com/id/183244672/photo/christmas-ball-hanging-on-a-fir-tree-branch.jpg?s=612x612&w=0&k=20&c=wnC23NE3qgpc2YV2R3jWosfrPIBnJUzU__-UiQn1NO4=");
    background-size: cover;
  }
  .item:nth-child(4) {
    background: url("https://media.istockphoto.com/id/131998457/photo/disk.jpg?s=612x612&w=0&k=20&c=-o5mleDeh7bLmRbdaEbK1ETDZCsuJ5OjpftbWgl5dOc=");
    background-size: cover;
  }
  .item:nth-child(5) {
    background: url("https://media.istockphoto.com/id/169974651/photo/christmas-ball-isolated-on-white.jpg?s=612x612&w=0&k=20&c=JBclnvATqj8a7QvnTuSkzBjm06Jnw5m9OzN2cmSl2oM=");
    background-size: cover;
  }
  .item:nth-child(6) {
    background: url("https://media.istockphoto.com/id/1182178745/vector/gold-glitter-shiny-christmas-ball-on-red-background.jpg?s=612x612&w=0&k=20&c=oGZDalT-ztVXbmIez19KZcjHHizsnD6rGJhjRv8QK7U=");
    background-size: cover;
  }
  .item:nth-child(7) {
    background: url("https://media.istockphoto.com/id/174765180/photo/christmas-ball.jpg?s=612x612&w=0&k=20&c=5mM9BLXGhP_CH5pGThSy30U8EY-v59AbW-2lasTKahs=");
    background-size: cover;
  }
  .item:nth-child(8) {
    background: url("https://media.istockphoto.com/id/1182178729/vector/silver-glitter-shiny-christmas-ball.jpg?s=612x612&w=0&k=20&c=taXaXjj0M1meqrbbC3UnLtcaD1fzMe-jBUy-Ol-9okA=");
    background-size: cover;
  }
  