.section{
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
    top: 0;
    left: 0;
   background:transparent;
   padding: 5px 10px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    
}
.welldrop{
    display: flex;
    align-items: center;
}
.webpage{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
}


.navbar{
    display: flex;
    gap: 40px;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
   
}
.part{
    transition: 0.3s ease;
}
.part:hover{
    color: aquamarine;
}

