.container{
    height: 700px;
}
.formbox{
    width: 90%;
    max-width: 450px;
    position: relative;
    background:transparent;
    backdrop-filter: blur(20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 60px 70px ;
    text-align: center;  
    border-radius: 10%;
    border: 2px solid black;
}
.title{
   font-size: 30px;
   margin-bottom: 60px; 
   color: rgb(201, 26, 20);
   position: relative;
}
.title::after{
    content: '';
    width: 50px;
    height: 4px;
    border-radius:3px;
    background: rgb(201, 26, 20);
    position: absolute;
    bottom: -12px;
    left:50%;
    transform: translateX(-50%);
}
.inputgroup{
    background: #eaeaea;
    margin:15px 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.input{
    width: 100%;
    background: transparent;
    border:0;
    outline: 0;
    padding: 18px 15px;
}
.icon{
    margin-left: 15px;
    color: #999;
}
.p{
    text-align: left;
    font-size: 13px;
}
.link{
    color:#3c00a0;
}
.buttonbox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.button{
    flex-basis: 48%;
    background: rgb(46, 73, 6);
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.group{
    height:280px;
}
