.container{
  align-items: center;
  text-align: center;
}
.funact{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 228, 228);
  }
  
  
  .h3{
    text-align: center;
    margin-top: 20px;
    color: rgb(235, 95, 95);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(162, 204, 162);
  }
  .navbar{
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
   
}
.part{
    transition: 0.3s ease;
    text-align: center;
    color: white;
    position: relative;
}
.part:hover{
    color: aquamarine;
}

.textbox{
  text-align: center;
  margin-top: 20px;

}
.title{
  color:#ffffff;
  font-size: 30px;
 background-color:#0a5e1f;
}
.test{
  font-size: 16px;
  color: #f7630e;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.underpara{
  font-size: 30px;
  color: #ce9c97;
}

.button:hover{
  background-color: grey;
}