.funact {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 228, 228);
  }
  .container{
    height: 1000px;
    text-align: center;

  }
  .h3{
    text-align: center;
    margin-top: 20px;
    color: rgb(170, 66, 66);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 .items{
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
.item{
    width: 20%;
    min-width: 300px;
    padding: 10px 12px;
    border: 5px solid rgb(3, 83, 20);
    border-radius: 25px;
    height: 400px;
    cursor: pointer;
    position: relative;
    margin: 20px 0;
}

.span{
    font-size: 20px;
    color: rgb(229, 253, 235);
}
.h5{
    color: rgb(255, 255, 255);
    font-size: 10px;
}
.coast{
    color: rgb(216, 73, 73);
    font-size: 20px;
}
.textbox{
    background-color: rgb(6, 53, 6);
    position:absolute;
    right: 0;
    bottom: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: 6%;
    
}

.item:nth-child(1) {
    background: url("https://media.istockphoto.com/id/174705864/photo/christmas-tree-surrounded-by-presents-on-white-background.jpg?s=1024x1024&w=is&k=20&c=w7dNtPcXN-a8-aFWAip4DyLXurNrB2hd4Tbc06SFtNM=");
    background-size: cover;
  }
  .item:nth-child(2) {
    background: url("https://media.istockphoto.com/id/187306837/photo/christmas-tree.jpg?s=612x612&w=0&k=20&c=VHfO0vEzZxkC5vuQjNkhSHRNuswuhBqAv4MlO4Y1ZkI=");
    background-size: cover;
  }
  .item:nth-child(3) {
    background: url("https://media.istockphoto.com/id/1453130957/photo/christmas-tree-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=5ZPIwKrS0Ptxqk_kiVTKn4bTI-Icw03sgNykdGNjSuE=");
    background-size: cover;
  }
  .item:nth-child(4) {
    background: url("https://media.istockphoto.com/id/473582400/photo/christmas-tree.jpg?s=612x612&w=0&k=20&c=DZSeD0rT1-BcEu3pAb8tMQcp9e5rDsjTtLYl_gQ4s4Y=");
    background-size: cover;
  }
  .item:nth-child(5) {
    background: url("https://media.istockphoto.com/id/138088905/photo/christmas-tree.jpg?s=612x612&w=0&k=20&c=d4FANA8CH4NlrX8StrJVYTmjclapBN_QnQI_X2wMfvA=");
    background-size: cover;
  }
  .item:nth-child(6) {
    background: url("https://media.istockphoto.com/id/135452650/photo/christmas-tree-with-colored-ornaments-and-burgundy-skirt.jpg?s=612x612&w=0&k=20&c=Ww6AZNSEjVs0eEgc1Iusa1C944EQmAR7_44m5ln7Wfk=");
    background-size: cover;
  }
  .item:nth-child(7) {
    background: url("https://media.istockphoto.com/id/153753856/photo/colorful-decorated-artificial-christmas-tree.jpg?s=612x612&w=0&k=20&c=uwkBAA-_-p1r2_f6w2ClUxBdaC417hnWKHPH3E9lk9Q=");
    background-size: cover;
  }
  .item:nth-child(8) {
    background: url("https://media.istockphoto.com/id/1290872860/photo/beautifully-decorated-chistmas-tree-crowned-with-a-golden-star.jpg?s=612x612&w=0&k=20&c=GAOa-gEJwJG0WgwXHZoCnWf48m_eFbX1CXqBlIzBxIY=");
    background-size: cover;
  }
  