* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100vh;
 
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 /*background:url('https://images.unsplash.com/photo-1513297887119-d46091b24bfa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2hyaXN0bWFzJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');*/
 
}
.theme{
 transition: 1s all ease;
}
.dark{
  background:url('https://media.istockphoto.com/id/959756872/photo/real-backlit-dust-particles-with-real-lens-flare.jpg?s=612x612&w=0&k=20&c=0JJAgLou5f2skM-yr-n6e15ppoM_d0e2y-SFFiyY6hE=');
  color:white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  
}
.light{
  background: url('https://images.pexels.com/photos/773953/pexels-photo-773953.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-size: 100%;
  background-attachment: fixed;
 color: black;
 background-repeat: no-repeat;
}
