.section{
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-position: center;
  display: flex;
  gap: 20px;

}

  
  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 100px;
  }
  
  .title {
    font-size: 40px;
    color: rgb(231, 233, 214);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .jpg {
    height: 350px;
   width: 400px;
   border: 2px solid rgb(205, 73, 50);
   border-radius: 20%;
  }
  
  .desc {
    font-size: 20px;
    font-weight: 300;
    color: rgb(15, 153, 10);
  }
  .h1{
    font-size: 30px;
    color: rgb(183, 238, 219);
  }
  