.funact {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 228, 228);
  }
  .container{
    text-align: center;

  }
  .h3{
    text-align: center;
    margin-top: 20px;
    color: rgb(170, 66, 66);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 .items{
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
.item{
    width: 20%;
    min-width: 300px;
    padding: 10px 12px;
    border: 5px solid rgb(3, 83, 20);
    border-radius: 25px;
    height: 400px;
    cursor: pointer;
    position: relative;
    margin: 20px 0;
}

.span{
    font-size: 20px;
    color: rgb(229, 253, 235);
}
.h5{
    color: rgb(255, 255, 255);
    font-size: 10px;
}
.coast{
    color: rgb(216, 73, 73);
    font-size: 20px;
}
.textbox{
    background-color:rgb(1,61,1);
    position:absolute;
    right: 0;
    bottom: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: 6%;
    
}
.text{
  text-align: start;
  margin-left: 10px;
}

.item:nth-child(1) {
    background: url("https://images.pexels.com/photos/1684236/pexels-photo-1684236.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
  }
  .item:nth-child(2) {
    background: url("https://images.pexels.com/photos/1671431/pexels-photo-1671431.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
  }
  .item:nth-child(3) {
    background: url("https://images.pexels.com/photos/3292775/pexels-photo-3292775.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
  }
  .item:nth-child(4) {
    background: url("https://media.istockphoto.com/id/1271204644/vector/christmas-lights-isolated-vector-garland-realistic-xmas-lamp-string.jpg?s=612x612&w=0&k=20&c=jhiKmFsGPr4fQwEADhTAZPiyfpQfcRg1ek0t2-WdO8g=");
    background-size: cover;
  }
  .shopping{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    background-color: aliceblue;
    font-weight: 700;
    color: rgb(47, 197, 47);
    border:3px solid aliceblue;
    position: absolute;
    bottom: 10px;
    right:10px;

  }