.section{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    color: black;
    height: 200px;
   position: relative;
    border: 2px solid black;
    background: transparent;
}
.coloritem{
    background-color: rgb(66, 19, 19);
    height: 80px;
    width: 100%;
}


