.section{
    font-size: 30px;
    display: block;
    justify-content: space-between;
    color: black;
    height: 200px;
    position: relative;
    border: 2px solid black;
    background: transparent;
}
.coloritem{
    background-color: rgb(12, 77, 57);
    height: 80px;
    width: 100%;
}

.textbox{
    display: flex;
    color: rgb(69, 74, 78);
    font-size: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.socialnetworks{
    display: flex;
    gap: 10px;


}
.icon{
    cursor: pointer;
}
.text{
    text-align: center;
    align-items: center;
    display: block;
    gap: 50px;
    width: 100%;
}
